to-do.txt
test.py
__pycache__/umn_systray.cpython-38.pyc
__pycache__/notification_daemon.cpython-38.pyc
__pycache__/toast.cpython-38.pyc
setting/__pycache__/passcrypt.cpython-38.pyc
setting/__pycache__/umn_config.cpython-38.pyc
